/*--------------------Estilos tarjeta(card)--------------------*/
.card {
    border-style: solid;
    border-width: 1px;
    border-color: black; /*solo por referencia*/
    border-radius: 00.5rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr;
    align-items: center;

    position: relative; /*relativo al elemento padre que tenga una posición, esto nos ayuda con el .closeButton*/
}

.cityName {
    grid-column: 1 / span 3; 
    font-weight: 700;
    font-size: 1.5rem;
}

/*---------------------Estilos botón cerrar tarjeta---------------------*/
.closeButton {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    font-size: 1.6rem;
    color: var(--color-maximum-red);/*viene de index.css*/

    display:flex;
    justify-content: center;
    align-items: center;

    padding: 0.25rem;

    border-radius: 9999px;/*hace circular nuestro botón cerrar*/
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    background-color: transparent;

    transition: 250ms;
}

.closeButton:hover {
    color: white;
    background-color: var(--color-maximum-red);
}

@media screen and (min-width: 576px) {
    .card {
        width: 25rem;
    }
}